 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background:black;
}

.nav_logo{
    display:flex;
    gap:8px;
    align-items:center;
    margin-left: 50px;
    position: relative;
}

.nav_f,
.nav_c{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-weight:bold;
}

.nav_f{
    background:#4f4ff4da;
}

.nav_c{
    position: absolute;
    left: 40px;
    background:#7163bdb3;
}

.navbar-nav{
    gap:40px;
}
.dropdown-menu{
    background-color: black !important;
}
.dropdown-item{
    color: rgb(138, 138, 138) !important;
    transition: color 0.6s;
}
.dropdown-item:hover{
    background-color: transparent !important;
    color: white !important;
}

.dropdown-divider{
    border-color: #444 !important;
}
.nav-link{
    color:rgb(109, 106, 106) !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 13px !important;
    letter-spacing: 1.5px !important;
}

.nav-link:hover{
    color:#ececec !important;
}

.nav_button{
    padding:5px;
    width: 150px;
    border-radius:7px;
    font-weight:600;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 14px;
}
#navbarSupportedContent{
    margin-left: 190px !important;
}
.hero_section{
    background-image: url(./bg_image.png);
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_sub_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lineOne{
    color: white;
    font-size: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    animation: leftMove 0.8s 1.3s;
}
@keyframes leftMove {
    from{
        transform: translateX(80px);
    }
    to{
        
        transform: translateX(0px);
    }
}

.lineTwo{
 font-family: 'Bebas Neue', sans-serif;    font-size: 70px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight:800;
    text-align: center;
    animation: rightMove 0.8s 1s;
}
@keyframes rightMove {
    from{
        transform: translateX(-80px);
    }
    to{
        transform: translateX(0px);
    }
}
.lineThree{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 40px;
    line-height: 10px;
    text-align: center;
    animation: moveFront 1s 1.3s;
}

.heroSection_button{
    animation: moveFront 1s 1.3s;
}
@keyframes moveFront{
    from{
        transform: scale(0.5);
    }to{
        transform: scale(1.0);
    }
}
.main_button{
    background-color: rgb(221, 21, 128);
    color: white;
    padding: 10px 32px 10px 32px;
    border: 1px solid rgb(248, 9, 136);
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.7px;
    font-weight: 700;
}
.hero_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px 10px;
    box-shadow: 3px 3px 3px silver;
}
.hero_footer_p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(86, 87, 87);
}
.hero_footer_h{
    color: rgb(255, 87, 26);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 130px;
    padding-bottom:90px ;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.about_section_box{
    width:520px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_us_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    height: 200px;
}
.about_us_head{
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(108, 141, 248);
}
.about_us_desc{
    color: #686666;
    font-size: 14px;
}
.about_us_link{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: rgb(104, 139, 255);
}
.about_image_box{
    height: auto;
    width: 100%;
}

.about_us_image{
    border: 1px solid;
    width: 100%;
    height: 445px;
    border-radius: 7px;
    animation: aboutSecImage 1s 0.5s ;

}
@keyframes aboutSecImage {
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0px);
    }
}

.organizers_section{
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url("./orgBGImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.organizers_sec{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(42, 15, 72, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-top:70px ;
}
.organizers_head{
    color: white;
    width: 89%;
    height: 50px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
}
.organizer_body{
    width: 89%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.organizers_head_div{
    width: 270px;
    height: 410px;
}

.org_head_image{
    width: 100%;
    height: 410px;
    border-radius: 15px;
    object-fit: cover;
}
.organizers_team_div{
    height: 455px;
    width: 70%;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 30px;
    
}
.each_organizer_box{
    width: 365px;
    height: 220px;
    display: flex;
    gap: 7px;
}

@media screen and (max-width:950px) {
    .organizers_head_div{
        display:none;
    }
    .organizers_team_div{
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .organizers_sec,.organizers_section{
        height: 1300px;
    }
    .organizer_footer_line{
        margin-top: 350px;
    }
}
@media screen and (max-width:850px) {
    .organizers_head_div{
        display:none;
    }
    .each_organizer_box{
        width: 340px;
        height: 215px;
    }
    
}

.each_organizer_image{
    width: 140px;
    height: 130px;
    border-radius: 12px;
}
.each_organizer_box_content{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: #ffffff;
    padding: 4px;
}
.organizer_name{
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.organizer_role{
    font-size: 12px;
    line-height: 1px;
    font-weight: 900;
    text-transform: uppercase;
}
.socai_link_logo{
    width: 18px;
    height: 18px;
}
.each_organizer_desc{
    font-style: italic;
    color: #a7a3a3;
    font-size: 14px;
}
.organizer_footer_line{
    width: 2px;
    height: 0.1px;
    background-color: #8d8d8d;
    animation: orgFooterLine 0.8s  0.6s  forwards;
}
@keyframes orgFooterLine{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(550);
    }
}
@media screen and (max-width:700px) {
    @keyframes orgFooterLine{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(200);
    }
}
}

.organizers_footer_promotion_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
.promotion_image{
    width: 140px;
    height: 50px;
}
.speakers_section{
    height: 1300px;
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.our_speaker_head_box{
    padding-left: 60px;
}
.our_speakers_heading{
    color: rgb(76, 106, 255);
    font-size: 34px;
    letter-spacing: 0.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.our_and_speakers_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    justify-content: space-evenly;
}
.our_speakers_card{
    width: 270px;
    height: 100%;
}
.our_speakers_card_para{
    font-size: 14px;
    color: rgb(110, 96, 96);
}
.apply_to_speak_button{
    background-color: rgb(66, 113, 255);
    border: 0px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 40px;
}
.our_speakers_main_section{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction:column;
    row-gap: 45px;
}
.our_speakers_owner{
    display: flex;
    justify-content: start;
    gap: 14px;
}
.our_speaker_owner_image{
    width: 310px;
    height: 310px;
    border-radius: 5px;
}
.owner_desc_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.owner_name{
    text-transform: uppercase;
    color: rgb(56, 155, 255);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
}
.owner_role{
    text-transform: uppercase;
    color: #ababab;
    font-size: 14px;
    font-weight: 800;
}
.owner_desc{
    font-size: 14px;
    font-style: italic;
    color: #847c7c;
}
.our_speakers_team{
    display: flex;
    flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;

}
.each_speaker_div{
    height: 205px;
    width: 365px;
    display: flex;
    gap: 10px;
}
.each_speaker_image{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.each_speaker_desc_box{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.each_speaker_name{
    text-transform: uppercase;
    color: rgb(56, 155, 255);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0.5px;
}
.each_speaker_role{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    margin-bottom: 0;
    color: #a7a3a3;
}
.each_speaker_desc{
    font-size: 14px;
    font-style: italic;
    color: #8d8d8d;
}

@media screen and (max-width:600px) {
    .our_speaker_head_box{
        padding-left: 0;
        text-align: center;
    }
    .our_speakers_card{
        height: 300px;
    }
    .our_speakers_owner{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .speakers_section{
        row-gap: 30px;
        height: auto;
    }
    .owner_desc_div{
        text-align: center;
    }
    .our_speakers_card{
        width: 100%;
        padding: 10px;
    }
    .our_and_speakers_section{
        height: 2500px;
    }
    .our_speakers_main_section{
        width: 100%;
        height: auto;
    }
}