 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    background:black;
}

.nav_logo{
    display:flex;
    gap:8px;
    align-items:center;
    margin-left: 50px;
    position: relative;
}

.nav_f,
.nav_c{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-weight:bold;
}

.nav_f{
    background:#4f4ff4da;
}

.nav_c{
    position: absolute;
    left: 40px;
    background:#7163bdb3;
}

.navbar-nav{
    gap:40px;
}
.dropdown-menu{
    background-color: black !important;
}
.dropdown-item{
    color: rgb(138, 138, 138) !important;
    transition: color 0.6s;
}
.dropdown-item:hover{
    background-color: transparent !important;
    color: white !important;
}

.dropdown-divider{
    border-color: #444 !important;
}
.nav-link{
    color:rgb(109, 106, 106) !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 13px !important;
    letter-spacing: 1.5px !important;
}

.nav-link:hover{
    color:#ececec !important;
}

.nav_button{
    padding:5px;
    width: 150px;
    border-radius:7px;
    font-weight:600;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 14px;
}
#navbarSupportedContent{
    margin-left: 190px !important;
}
.hero_section{
    background-image: url(./BGImages/heroBGimg.png);
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_sub_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lineOne{
    color: white;
    font-size: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    animation: leftMove 0.8s 1.3s;
}
@keyframes leftMove {
    from{
        transform: translateX(80px);
    }
    to{
        
        transform: translateX(0px);
    }
}

.lineTwo{
 font-family: 'Bebas Neue', sans-serif;    font-size: 70px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight:800;
    text-align: center;
    animation: rightMove 0.8s 1s;
}
@keyframes rightMove {
    from{
        transform: translateX(-80px);
    }
    to{
        transform: translateX(0px);
    }
}
.lineThree{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 40px;
    line-height: 10px;
    text-align: center;
    animation: moveFront 1s 1.3s;
}

.heroSection_button{
    animation: moveFront 1s 1.3s;
}
@keyframes moveFront{
    from{
        transform: scale(0.5);
    }to{
        transform: scale(1.0);
    }
}
.main_button{
    background-color: rgb(221, 21, 128);
    color: white;
    padding: 10px 32px 10px 32px;
    border: 1px solid rgb(248, 9, 136);
    border-radius: 6px;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.7px;
    font-weight: 700;
}
.hero_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 35px 10px;
    box-shadow: 3px 3px 3px silver;
}
.hero_footer_p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(86, 87, 87);
}
.hero_footer_h{
    color: rgb(255, 87, 26);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 130px;
    padding-bottom:90px ;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.about_section_box{
    width:520px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about_us_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    height: 200px;
}
.about_us_head{
    font-size: 26px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(108, 141, 248);
}
.about_us_desc{
    color: #686666;
    font-size: 14px;
}
.about_us_link{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: rgb(104, 139, 255);
}
.about_image_box{
    height: auto;
    width: 100%;
}

.about_us_image{
    border: 1px solid;
    width: 100%;
    height: 445px;
    border-radius: 7px;
    animation: aboutSecImage 1s 0.5s ;

}
@keyframes aboutSecImage {
    from{
        transform: translateY(90px);
    }
    to{
        transform: translateY(0px);
    }
}

.organizers_section{
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url("./BGImages/orgBGImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.organizers_sec{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(42, 15, 72, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding-top:70px ;
}
.organizers_head{
    color: white;
    width: 89%;
    height: 50px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.5px;
}
.organizer_body{
    width: 89%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.organizers_head_div{
    width: 270px;
    height: 410px;
}

.org_head_image{
    width: 100%;
    height: 410px;
    border-radius: 15px;
    object-fit: cover;
}
.organizers_team_div{
    height: 455px;
    width: 70%;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 30px;
    
}
.each_organizer_box{
    width: 365px;
    height: 220px;
    display: flex;
    gap: 7px;
}

@media screen and (max-width:950px) {
    .organizers_head_div{
        display:none;
    }
    .organizers_team_div{
        width: 100%;
    }
}
@media screen and (max-width:700px) {
    .organizers_sec,.organizers_section{
        height: 1300px;
    }
    .organizer_footer_line{
        margin-top: 350px;
    }
}
@media screen and (max-width:850px) {
    .organizers_head_div{
        display:none;
    }
    .each_organizer_box{
        width: 340px;
        height: 215px;
    }
    
}

.each_organizer_image{
    width: 140px;
    height: 130px;
    border-radius: 12px;
}
.each_organizer_box_content{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: #ffffff;
    padding: 4px;
}
.organizer_name{
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}
.organizer_role{
    font-size: 12px;
    line-height: 1px;
    font-weight: 900;
    text-transform: uppercase;
}
.socai_link_logo{
    width: 18px;
    height: 18px;
}
.each_organizer_desc{
    font-style: italic;
    color: #a7a3a3;
    font-size: 14px;
}
.organizer_footer_line{
    width: 2px;
    height: 0.1px;
    background-color: #8d8d8d;
    animation: orgFooterLine 0.8s  0.6s  forwards;
}
@keyframes orgFooterLine{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(550);
    }
}
@media screen and (max-width:700px) {
    @keyframes orgFooterLine{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(200);
    }
}
}

.organizers_footer_promotion_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
.promotion_image{
    width: 140px;
    height: 50px;
}
.speakers_section{
    height: 1300px;
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}
.our_speaker_head_box{
    padding-left: 60px;
}
.our_speakers_heading{
    color: rgb(76, 106, 255);
    font-size: 34px;
    letter-spacing: 0.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.our_and_speakers_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    justify-content: space-evenly;
}
.our_speakers_card{
    width: 270px;
    height: 100%;
}
.our_speakers_card_para{
    font-size: 14px;
    color: rgb(110, 96, 96);
}
.apply_to_speak_button{
    background-color: rgb(66, 113, 255);
    border: 0px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 40px;
}
.our_speakers_main_section{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction:column;
    row-gap: 45px;
}
.our_speakers_owner{
    display: flex;
    justify-content: start;
    gap: 14px;
}
.our_speaker_owner_image{
    width: 310px;
    height: 310px;
    border-radius: 5px;
}
.owner_desc_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.owner_name{
    text-transform: uppercase;
    color: rgb(56, 155, 255);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
}
.owner_role{
    text-transform: uppercase;
    color: #ababab;
    font-size: 14px;
    font-weight: 800;
}
.owner_desc{
    font-size: 14px;
    font-style: italic;
    color: #847c7c;
}
.our_speakers_team{
    display: flex;
    flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;

}
.each_speaker_div{
    height: 205px;
    width: 365px;
    display: flex;
    gap: 10px;
}
.each_speaker_image{
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
.each_speaker_desc_box{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.each_speaker_name{
    text-transform: uppercase;
    color: rgb(56, 155, 255);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 0.5px;
}
.each_speaker_role{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    margin-bottom: 0;
    color: #a7a3a3;
}
.each_speaker_desc{
    font-size: 14px;
    font-style: italic;
    color: #8d8d8d;
}

@media screen and (max-width:600px) {
    .our_speaker_head_box{
        padding-left: 0;
        text-align: center;
    }
    .our_speakers_card{
        height: 300px;
    }
    .our_speaker_owner_image{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .our_speakers_owner{
        flex-wrap: wrap;
    }
    .speakers_section{
        row-gap: 30px;
        height: auto;
    }
    .owner_desc_div{
        justify-content: start;
        padding-left: 12px;
    }
    .our_speakers_card{
        width: 100%;
        padding: 10px;
    }
    .our_and_speakers_section{
        height: 2500px;
    }
    .our_speakers_main_section{
        width: 100%;
        height: auto;
    }
}

.contribution_section{
    position: relative;
    background-image: url("./BGImages/contbnBGImg.png");
    background-size: cover;
    width: 100%;
    height: 510px;
    background-repeat: no-repeat;
    background-position: initial;
}
.overlay_contribution_section{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #220420d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contribution_desc_div{
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin: auto;
    padding: auto;
}
.contribution_head{
    color: #ffffff;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.contribution_desc{
    font-size: 20px;
    color: #ababab;
    line-height: 30px;
}
.contribution_button{
    color: white;
    padding: 10px;
    border-radius: 25px;
    width: 160px;
    background-color: rgb(211, 29, 120);
    height: 40px;
    font-size: 13px;
    border: 0px;
    font-weight: 750;
    letter-spacing: -0.5px;
    margin-top: 40px;
}
.event_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.event_section_sub{
    margin-top: 100px;
    padding-bottom:100px ;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    justify-content: space-evenly;
    width: 100%;
    justify-content: space-between;
    height:auto;
}
.event_schedule_heading{
    color: royalblue;
    font-size: 33px;
    margin-bottom: 50px;
    font-weight: 700;
}
.day1_box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 20px;
}
.day1_div{
    display: flex;
    flex-direction: column;
    justify-content: start  ;
    width: 100%;
    max-width: 290px;
}
.day1_date{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200px;
    margin-bottom: 0;
    color: royalblue;
}
.day1_venue{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #817a7a;
}
.day1_info_div{
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
}
.day1_info_div_sub1 , .day1_info_div_sub2{
    display: flex;
    gap: 5px;
    justify-content: start;
}
.day1_info_head{
    margin-bottom: 1px;
    color: #787878;
    font-size: 14px;
}
.day1_info_head_span{
    font-weight: 700;
}
.day1_info_and_dress{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.day1_info_desc{
    color: #8d8d8d;
    font-size: 14px;
    margin-bottom: 2px;
}
.day1_dresscode{
    font-weight: 600;
    color: #a7a3a3;
    font-size: 14px;
}
.day2_info_div{
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.day_image_and_name_div{
    width: 210px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.event_handler_image{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.event_handler_name{
    font-size: 16px;
    font-weight: 700;
    color: darkgray;
    text-transform: uppercase;
}
.day_large_box_images_and_name{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: start;
}
.subscribe_section{
    position: relative;
    background-image: url("./BGImages/subscribeBg.png");
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: repeat;
    background-position: center 45%;
}
.subscribe_overlay_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 2, 44, 0.918);
}
.subscribe_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 600px;
    gap: 5px;
}
.subscribe_head_and_para_box{
    height: 100px;
    padding-right:30px;
    padding-top:10px ;
    border-right:1px solid ;
    border-right-color: #ececec;
}
.subscribe_heading{
    color: white;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
}
.subscribe_para{
    line-height: 10px;
    color: white;
    font-size: 16px;
    margin: 0;

}

.subscribe_input_feild{
    margin-left: 0;
    border-radius: 6px;
    padding-left: 22px;
    height: 32px;

}
.subscribe_button{
    border: 0px;
    margin-left: 9px;
    padding-left: 20px;
    height: 32px;
    background-color: royalblue;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width:500px) {
    .subscribe_container{
        flex-direction: column;
        row-gap: 0;
    }
    .subscribe_head_and_para_box{
        text-align: center;
        width: 100%;
        border-right: 0px ;
        
    }
    .subscribe_placeholder_and_button_box{
        text-align: center;
        width: 100%;
    }
    .subscribe_input_feild{
        width: 60%;
    }
    .subscribe_button{
        width: 25%;
    }
    
}


.past_events_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.past_events_div{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 87%;
    height: auto;
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.past_events_div1{
    width: 100%;
}
.past_events_heading{
    color: royalblue;
    font-size: 33px;
    font-weight: 700;
}
.past_events_div2_and_div3{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.past_events_div2{
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
}
.leader_image_div{
    position: relative;
    width: 49%;
    height: auto;
    border-radius: 10px;
}
.leader_overlay_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.4s ;
}
.past_events_leader_image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.leader_image_div:hover .leader_overlay_div{
    visibility: visible;
    cursor: pointer;
    background-color: rgba(52, 30, 101, 0.685);
}

.past_events_four_cards_div{
    width:49% ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.each_event_square_div{
    position: relative;
    height: auto;
    width:48%;
    height:auto;
    border-radius: 10px;
}
.past_events_each_square_image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.each_event_square_overlay_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
    transition: background-color 0.4s  , color 0.4s;
}
.each_event_square_div:hover .each_event_square_overlay_div{
    visibility: visible;
    background-color: rgba(54, 32, 103, 0.685);
    cursor: pointer;
}
.each_event_square_div3:hover .each_event_square_overlay_div{
    visibility: visible;
    background-color: rgba(54, 32, 103, 0.685);
    cursor: pointer;
}
.leader_overlay_div_date_and_head{
    max-width: 300px;
    text-align: center;
}
.leader_overlay_image_date{
    font-size: 15px;
    color: white; 
    margin-bottom: 1.5px; 
}
.leader_overlay_image_desc{
    font-size: 20px;
    color: white;
    line-height: 17px;
    font-weight: 900;
}
.each_event_square_overlay_div_date_and_head{
    max-width: 200px;
}
.each_sqaure_image_date{
    font-size: 10px;
    color: white; 
    margin-bottom: 1.5px;  
}
.each_square_image_desc{
    font-size: 13px;
    color: white;
    line-height: 12px;
    font-weight: 900;
}


.past_events_div3{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.each_event_square_div3{
    position: relative;
    height: auto;
    width:47%;
    max-width: 261px;
    height:auto;
    border-radius: 10px;
}
.past_events_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    .leader_image_div{
        width: 100%;
    }
    .past_events_four_cards_div{
        width: 100%;
    }
    .past_events_div{
        width: 98%;
    }
}


.partners_section{
    width: 100%;
    background-color: rgb(225, 225, 242);
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners_div1_and_div2{
    margin-top: 100px;
    margin-bottom: 120px;
    display: flex;
    width: 90%;
    flex-direction: column;
    row-gap: 40px;
}
.partners_heading{
    color: royalblue;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.6px;
}
.partners_div2{
    display: flex;
    gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.partner_each_box{
    width: 170px;
    height: 155px;
    border: 2px solid rgb(216, 212, 230);
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partner_image{
    width: 50%;
    height: auto;
    opacity: 0;
    animation: partnerSectionAnimation 0.4s ease-in 0.2s forwards;
}
@keyframes partnerSectionAnimation {
    from{
        opacity: 0;
        transform: translateX(-80px);
    }to{
        opacity: 1;
        transform: translateX(0) ;
    }
}

.sponser_image{
    width: 45%;
    height: auto;
    opacity: 0;
    animation: sponserSectionAnimation 0.6s ease-out 0.1s forwards;
}

@keyframes sponserSectionAnimation {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media  screen and (max-width:500px) {
    .partner_each_box{
        width: 47%;
        height: 155px;
        border: 2px solid rgb(216, 212, 230);
        text-align: center;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.price_section{
    width: 100%;
    height: 100%;
    background-image: url("./BGImages/orgBGImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 100%;
}

.price_overlay_section{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 17, 69, 0.95);
}
.price_section_div{
    width: 92%;
    height: 80%;
    margin-top: 120px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: space-between;
}
.price_heading{
    color: white;
    font-size: 35px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
.price_cards_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.each_price_card{
    padding:15px 17px 5px 17px;
    width: 277px;
    flex-wrap: wrap;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0px;
    border-radius: 10px;
    border: 1px solid rgb(79, 79, 79);
}
#each_price_card_special{
    border: 1px solid rgb(242, 241, 241);
}
.each_inner_box1{
    width: 95%;
    height: 23px;
    color: white;
    display: flex;
    border-bottom:0.1px solid gray;
    justify-content: space-between;
}
.price_name{
    font-size: 15px;
    font-weight: 600;
}
.price_remainings{
    font-size: 11px;
    color: #ababab;
}
.each_inner_box2{
    display: flex;
    position: relative;
    width: 95%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom:0.1px solid gray;
}
.price{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0;
}
.dollar{
    position: absolute;
    top: 68px;
    left: 62px;
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    vertical-align: top;
}
#each_price_card_3{
    left: 40px;
}
.price_on_day{
    font-size: 11px;
    color: #a7a2c0;
    margin-top: 0;
    padding-top: 0;
}
.each_inner_box3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    line-height: 10px;
    color: white;
    font-size: 11px;
}
.each_course_name{
    color: #939dbe;
}
.price_card_button{
    border: 1px solid royalblue;
    background-color: transparent;
    padding: 5px;
    width: 140px;
    height: 36px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s;
}
#price_card_button_special{
    background-color: royalblue;
}
.price_card_button:hover{
    background-color:royalblue;
}






@media screen and (max-width:500px){
    .each_price_card{
        width: 100%;
    }
    .dollar{
        top: 68px;
        left: 140px;
    }
    #each_price_card_3{
        left: 120px;
    }
}



.loc_and_contact_section{
    width: 100%;
    height: autopx;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.loc_and_contact_div{
    margin-top: 110px;
    margin-bottom: 120px;
    width: 87%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
}
.location_and_contact_heading{
    color: rgb(77, 117, 236);
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.loc_and_contact_div2{
    display: flex;
    gap: 30px;
    width: 100%;
    height: auto;
}

.form_div{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.form_input_name{
    width: 100%;
    border: #cbcbcb 1px solid;
    padding:3px 10px 3px;
    border-radius: 5px;
    transition:box-shadow 0.4s 0.2s;
}
.form_input_name:focus{
    outline: none;
    box-shadow:0 0 0 3px rgb(170, 191, 255);
}
.form_text_area{
    width: 100%;
    height: 170px;
    border: #b6b3b3 1px solid;
    padding:3px 10px 3px;
    border-radius: 5px;
    transition:box-shadow 0.4s 0.2s;

}
.form_text_area:focus{
    outline: none;
    box-shadow:0 0 0 3px rgb(170, 191, 255);
}
.form_div_button{
    text-align: center;
    color: white;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    border: 0px;
    border-radius: 5px;
    letter-spacing: -0.5px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(80, 117, 228);
}
.location_div{
    display: flex;
    width: 65%;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
}
.loaction_div1{
    width: 100%;
    height: auto;
    display: flex;
}
.location_div1_inner{
    width: 28%;
    height: auto;
    display: flex;
    gap: 5px;
}
.loc_head_des_div{
    display: flex;
    padding: 4px;
    max-width: 150px;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap:1px;
}
.location_sec_logo{
    width: 20px;
    height: auto;
}
.location_head{
    font-weight: 700;
    font-size: 13px;
    color: #767373;
}
.loaction_desc{
    font-size: 14px;
    color: grey;
}
.location_div2_inner{
    width: 28%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid grey;
    border-right: 1px solid grey;

}
.contact_via_div{
    margin-top: 5px;
}
.contact_number{
    display: block;
    text-decoration: none;
    font-size: 14px;
}
.location_div2_contact_div{
    display: flex;
    gap: 8px;
}
.contact_mail_div{
    display: flex;
    gap: 9px;
}
.location_div3_inner{
    width: 20%;
    max-width: 135px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
.loaction_div3_inner_box{
    display: flex;
    gap: 7px;
}
.location_div2{
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #e1e1e1;
}
.location_div2_sub{
    width: 95%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.caution_logo{
    width: 50x;
    height: 50px;
}
.location_div2_sub_head{
    font-size: 23px;
    color: #575757;
}
.loaction_div2_sub_desc{
    font-size: 12px;
    color: dimgray;
}

@media screen and (max-width:500px) {
    .form_div{
        width: 100%;
    }
    .loc_and_contact_div2{
        display: flex;
        flex-direction: column;
    }
    .location_div{
        width: 100%;
        height: auto;
    }
    .loaction_div1{
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .location_div1_inner{
        width:50%;
    }
    .location_div2_inner{
        width: 50%;
        border-right: 0px;
    }
    .location_div{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
    }
}



.questions_section{
    width: 100%;
    height: auto;
    background-color: rgb(45, 33, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.que_sec_sub{
    margin-top: 125px;
    margin-bottom: 125px;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}
.faq_heading{
    font-size: 42px;
    color: white;
    letter-spacing: -0.8;
}
.questions_box{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.question_logo{
    width: 11px;
    height: 11px;
}
.question_div{
    display: flex;
    gap: 10px;
}
.question{
    margin-bottom: 0;
    padding-top: 4px;
    color: #a5adc6;
    font-weight: 700;
}